<!-- apply -->
<%-include('../common/header')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/service/list.js"></script>
    <link rel="stylesheet" href="/css/apply.css" />
  </head>
  <body>
    <div id="apply">
      <div id="modal" class="modal">
        <div class="modal_content">
          <span class="title">Reservation Status</span>
          <div class="reservation_list">
            <table id="reserve">
                <thead>
                  <tr id="thead">
                    <th>index</th>
                    <th>예약일자</th>
                    <th>이름(나이)</th>
                    <th>방문사유</th>
                    <th>승인여부</th>
                  </tr>
                </thead>
                <tbody id="list">
                  <%for(let i=0;i<reserveList.length;i++){ %>
                  <tr>
                    <td><%=offset+i+1%></td>
                    <td><%=reserveList[i].reserveDate%></td>
                    <td><%=reserveList[i].name%>(<%=reserveList[i].age%>)</td>
                    <td><%=reserveList[i].reason%></td>
                    <td>
                      <% 
                          var reverseApproved = ''
                          if(reserveList[i].isApproved=='Y') reverseApproved='N'
                          else reverseApproved='Y'
                          %>
                      <input type="hidden" id="reservationId" value="<%=reserveList[i].id%>">
                      <select name="isApploved" onchange="changeIsApproved(this.value)">
                          <option value="<%=reserveList[i].isApproved%>"><%=reserveList[i].isApproved%></option>
                          <option value="<%=reverseApproved%>"><%=reverseApproved%></option>
                      </select>
                    </td>
                  </tr>
                  <%}%> 
              </tbody>
            </table>
            <ul id="index">
              <%for(let i=1;i<=page;i++){ %>
                  <li><a class="index_no" href="/schedule/list/<%=i%>"><%=i%></a></li>
              <%}%> 
          </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
