<!-- home -->
<%-include('../common/header')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
    <script src="/service/notice.js"></script>
    <link rel="stylesheet" href="../css/notice.css" />
  </head>
  <body class="notice">  

    <div id="title">notice</div>

    <table>
      <tbody>
        <%for(let i=0;i<noticeList.length;i++){ %>
        <tr>
          <td><%=offset+i+1%></td>
          <td><a class="content" href="/notice/content/<%=noticeList[i].id%>"><%=noticeList[i].title%></a></td>
        </tr>
         <%}%> 
    </tbody>
  </table>

  <ul id="index">
    <%for(let i=page;i>0;i--){ %>
        <li><a class="index_no" href="/notice/<%=i%>"><%=i%></a></li>
    <%}%> 
 </ul></div> 

</body>
</html>